.joe_detail__article h1 {
  display:none !important;
}
.joe_detail__article h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
}
.joe_detail__article h2 {
  font-size: 24px;
}
.joe_detail__article h3 {
  font-size: 20px;
}
